.pokemon-stats {
  background-color: #70a9a1;
  padding: 10px 30px;
  border-radius: 15px;
  color: aliceblue;
  box-shadow: 2px 2px 0px hsl(33, 42%, 46%), 3px 3px 0px hsl(33, 42%, 40%);
	margin-top: 15px;
	max-width: 70%;

  &__img {
		width: 100%;
  }

  &__name {
    font-size: 30px;
    margin-top: -10px;
  }

  &__info {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
		gap: 15px;

    dd {
      margin-left: -5%;
    }
  }

  button {
    width: 65%;
    font-size: 18px;
    height: 40px;
    margin: 0;
  }
}

// <div className="pokemon-stats__info">
//           <p className="pokemon-stats__info-type">Type: Grass/Poison</p>
//           <p className="pokemon-stats__info-weight">Weight:69</p>
//         </div>
