.pokemon-info{

	&__img{
		width: 50%;
	}

	&__stats{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
		padding: 0;
	} 

	&__evolution{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5px;
		list-style: none;
		padding: 0 25px;

		&-item{
			max-width: 200px;
			text-align: center;

			&-img{
				width: 100%;
				margin-bottom: -10px;
			}
			&-name{
				text-transform: uppercase;
				font-size: 24px;
				font-weight: 600;
			}
		}
	}
}
.pokemon-info__stats-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat{
	&-name {
		width: 100px;
		text-align: right;
		margin-right: 10px;
	}

	&-value {
		margin-right: 10px;
	}

	&-bar {
		height: 10px;
		width: 60%;
		background-color: #ffffff80;
		border-radius: 10px;
		overflow: hidden;

		&-fill {
			height: 100%;
			background-color: #70A9A1;
			border-radius: 10px;
			transition: width 0.5s ease-in-out;
		}
	}
}

